In [40]:
import pandas as pd
import numpy as np

/var/folders/_1/0bglz1893_39b3r9vqplvnjc0000gn/T/ipykernel_42187/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [41]:
df = pd.read_csv('data.csv')

In [51]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,label,feature 1,feature 2,feature 3,feature 4,feature 5,feature 6,feature 7,feature 8,feature 9,...,feature 30,feature 31,feature 32,feature 33,feature 34,feature 35,feature 36,feature 37,feature 38,feature 39
0,0,6,397,7,2151,52,66,129,30,52,...,0,0,0,4,0,0,0,0,30,35
1,1,4,369,5,1960,52,92,205,75,52,...,0,1,0,7,0,0,0,0,20,25
2,1,3,387,2,112,52,129,275,126,52,...,0,7,0,2,0,0,0,0,15,10
3,1,3,387,2,112,52,129,275,126,52,...,0,7,0,2,0,0,0,0,15,10
4,1,4,439,3,164,52,109,275,110,52,...,0,2,0,1,0,0,0,0,20,15

In [52]:
train, validate, test = np.split(df.sample(frac=1), [int(.6*len(df)), int(.8*len(df))])

/opt/homebrew/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [54]:
len(train), len(validate), len(test)

(1195, 398, 399)

In [ ]:
X_train = train.drop('label', axis=1)
y_train = train['label']

X_validate = validate.drop('label', axis=1)
y_validate = validate['label']

X_test = test.drop('label', axis=1)
y_test = test['label']

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_validate)
accuracy_score(y_validate, y_pred)

1.0

In [58]:
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.9949874686716792